


<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>500 Error</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Oswald:700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:400" rel="stylesheet">

	<!-- Font Awesome Icon -->
	<link type="text/css" rel="stylesheet" href="../error/css/font-awesome.min.css" />

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="../error/css/style.css" />

	<style>
		body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

#notfound {
    position: relative;
    height: 100vh;
}

.notfound-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #000000, #ffffff);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
    z-index: -1;
}

.notfound {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.notfound-404 {
    font-size: 150px;
    font-weight: 700;
    margin: 0;
    line-height: 180px;
}

h2 {
    font-size: 24px;
    font-weight: 400;
    margin: 20px 0 10px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

a {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #000000;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    color:orange
}
	</style>
 
</head>

<body>

	<div id="notfound">
		<div class="notfound-bg">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
		<div class="notfound">
			<div class="notfound-404">
				<h1>500!</h1>
			</div>
			<h2>Page Not Found</h2>
			<p>Internal Server Error.</p>
			<a href="/">Homepage</a>
		
		</div>
	</div>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>