<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="CodePixar">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Timer Watch Shop</title>

    <!--
            CSS
            ============================================= -->
    <link rel="stylesheet" href="../user-assets/css/linearicons.css">
    <link rel="stylesheet" href="../user-assets/css/owl.carousel.css">
    <link rel="stylesheet" href="../user-assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../user-assets/css/themify-icons.css">
    <link rel="stylesheet" href="../user-assets/css/nice-select.css">
    <link rel="stylesheet" href="../user-assets/css/nouislider.min.css">
    <link rel="stylesheet" href="../user-assets/css/bootstrap.css">
    <link rel="stylesheet" href="../user-assets/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.js"></script>
  <style>
    /* Your CSS styles here */
/* h1 {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin-top: 20px;
} */

.shop-more-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #000000; /* Button background color */
    color: #fff; /* Button text color */
    text-decoration: none; /* Remove underline for anchor element */
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    font-size: 12px; /* Button font size */
}

.shop-more-button:hover {
    background-color: #000000; 
    color: rgb(255, 179, 3);
}


img {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
    opacity: 0.7;
}

.typography {
    text-align: center;
}

</style>
</head>


<body>

    <!-- Start Header Area -->
    <%- include('../layouts/header.ejs') %>	
    <!-- End Header Area -->

    <!-- Start Banner Area -->
  
    <!-- End Banner Area -->

    <!--================Cart Area =================-->
    <section class="cart_area" style="margin-top: 120px;">
        <div class="container">
            <div class="cart_inner">
                <!-- <div class="table-responsive"> -->
                
                
                        <div class="col-md-lg-5">
                            <div class="typography" >
                                <img src="/user-assets/img/orderSuccess.png" alt="Ordered Succefully!">
                                <h1>THANKYOU! FOR SHOPING..</h1>
                                <br><br>
                                <a href="/shop" class="shop-more-button">Shop More</a>
                                
                            </div>
                        </div>

                <!-- </div> -->
            </div>
        </div>
    </section>


    

    <!--================End Cart Area =================-->

    <!-- start footer Area -->
    <%- include('../layouts/footer.ejs') %>	

    <!-- End footer Area -->
   
 
    <script src="../user-assets/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="../user-assets/https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="../user-assets/js/vendor/bootstrap.min.js"></script>
	<script src="../user-assets/js/jquery.ajaxchimp.min.js"></script>
	<script src="../user-assets/js/jquery.nice-select.min.js"></script>
	<script src="../user-assets/js/jquery.sticky.js"></script>
    <script src="../user-assets/js/nouislider.min.js"></script>
	<script src="../user-assets/js/jquery.magnific-popup.min.js"></script>
	<script src="../user-assets/js/owl.carousel.min.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="../user-assets/js/gmaps.min.js"></script>
	<script src="../user-assets/js/main.js"></script>
 
</body>

</html>